* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

#intro{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 4px;
    width: 95%;
    border-bottom: 4px solid darkslategrey;
    max-width: 600px;
}

#intro h2 {
   color: darkslategrey;
   font-size: 18px;
   padding-top: 20px;
}

#intro p {
    text-align: center;
    padding-bottom: 20px;
    flex-basis: 85%;
    font-size: 14px;
    color: lightslategrey;
    font-weight: 300;
}

header h1 {
    background-color: rgb(64, 59, 109);
    color:white;
    text-transform:uppercase;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size:20px;
}

#contact {
    border-bottom: 2px solid darkslategrey;
}

#contact legend,
#newsletter legend {
    padding: 25px 0px 0px;
    font-size: 19px;
    font-weight: bold;
    color: darkslategrey;
}

#contact legend {
    padding-bottom: 20px;
}

form {
    align-items:center;
    border-top: 2px solid darkslategrey;
    max-width: 600px;
    margin: 0 auto;
    width: 95%;
    background-color: rgb(230, 230, 240);
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    border:none;
    border-radius:3px 3px;
    height: auto;
    margin:10px 0;
    outline: 0;
    padding: 15px;
    flex-basis: 100%;
    background-color: white;
    color: darkslategrey;
    font-size: 13px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    border: 2px solid rgb(140, 130, 248);
    background-color: rgb(232, 231, 255);
    transition: background-color 1.5s;   
}

input[type="text"]:not(:focus),
input[type="email"]:not(:focus),
input[type="tel"]:not(:focus),
select:not(:focus),
textarea:not(:focus) {
    background-color: white;
    transition: background-color 1.5s;   
}


label {
    color: lightslategray;
    font-weight: 300;
    font-size: 13px;
}

label:not(.box) {
    flex-basis:100%;
}

.click { 
    display:flex;
    flex-basis:100%;
    align-items:center;
}


input[type="radio"],
input[type="checkbox"]{
    margin: 10px 15px 8px 10px;

}

#newsletter label:not(.box) {
    margin-top: 20px;
}

#zip_code {
    flex-basis: 50%;
}

::placeholder {
    color: darkgrey;
    font-style: italic;
    float: right;
    font-size: 12px;
}

fieldset {
    display:flex;
    flex-wrap:wrap;
    border: none;
    line-height: 1.5;
}

textarea {
    height: 90px;
    margin: 10px 0 20px;
    font-size: 13px;
}

textarea::placeholder {
    float: left;
}

button {
    flex-basis: 100%;
    padding: 20px 0;
    border:none;
    border-radius: 3px 3px;
    background-color: rgb(152, 143, 235);
    color: white;
}

footer {
    text-align: center;
    font-style: italic;
    color: darkgrey;
    font-size: 13px;
    margin: 25px 0 ;
}

@media (min-width: 768px) {
    #contact label {
        flex-basis:30%;
        align-self: center;
    }

    #contact input:not(#zip_code),
    select {
        flex-basis: 70%;
    }

    #zip_code {
        flex-basis: 25%;
    }

}
